:root {
  --color-primary: #1504b9;
  --color-dark: #262626;
  --color-white: #F7FFF7;
  --color-secondary: #D0CFCE;

  --typography-headline-font: "MonumentExtended";
  --typography-headline-size: 4.5rem;

  --typography-title-font: "MonumentExtended";
  --typography-title-size: 3rem;

  --typography-head-font: "MonumentExtended";
  --typography-head-size: 1.75rem;

  --typography-lead-font: "Satoshi";
  --typography-lead-size: 1.75rem;

  --typography-button-text: "Satoshi";
  --typography-button-size: 1.5rem;

  --transition-expo-in-out: cubic-bezier(0.19, 1, 0.22, 1);
}
