/*
~ Juan 2501994771
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* V Debug border V */
  /* border: 1px solid #E03E1A; */
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: var(--typography-lead-font);
  color: var(--color-dark);
  background-color: var(--color-white);
  line-height: 1.5;
  text-align: left;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

.select-none {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

.w-1\/2 {
  width: 50%;
}

.relative {
  position: relative;
}

.space-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.space-between-baseline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.layout-section {
  padding: 0 200px;
}
