footer {
  background-color: var(--color-dark);
  z-index: 1;
}

.footer-brand {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 140px;
  padding-bottom: 140px;
}

.footer-social-links {
  display: flex;
  align-items: baseline;
  margin-top: 2rem;
}

.footer-social-links > * + * {
  margin-left: 2rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 12rem;
}

.footer-links > div {
  display: flex;
  flex-direction: column;
}

.footer-links > div > a:hover {
  text-decoration: underline;
}

footer .stripes {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
