.hero {
  margin-top: 6rem;
  margin-bottom: 16rem;
  position: relative;
  padding: 0 100px;
}

@media screen and (min-width: 1920px) {
  .hero {
    margin-top: 10rem;
  }
}

.hero-background {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-waves {
  margin-bottom: 30px;
}

.hero h1 {
  line-height: 6rem;
  z-index: 1;
}

.hero h1 > .deep-blue {
  background: linear-gradient(47.19deg, #1504b9 -43.66%, #2b7fff 30.85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero > button {
  margin-top: 4rem;
}

.explore {
  display: flex;
  flex-direction: column;
  margin-top: 24rem;
  margin-bottom: 12rem;
  padding: 0 100px;
}

@media screen and (min-width: 1920px) {
  .explore {
    margin-top: 36rem;
  }
}

.explore h2 {
  margin-bottom: 1rem;
}

.explore .explore-highlights {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.explore-highlights-card {
  overflow: hidden;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  min-height: 500px;
  padding: 18px 26px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1920px) {
  .explore-highlights-card {
    min-width: 340px;
    max-width: 340px;
  }
}

.explore-highlights-card .index {
  opacity: 0.5;
}

.explore-highlights-card .name {
  /* Place name into the bottom of the card */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 26px;
}

.explore-highlights-card > img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 300px;
  min-height: 500px;
  object-fit: cover;
  z-index: -1;
  transition: transform 0.5s var(--transition-expo-in-out);
}

@media screen and (min-width: 1920px) {
  .explore-highlights-card > img {
    min-width: 340px;
    max-width: 340px;
  }
}

.explore-highlights-card:hover > img {
  transform: scale(1.1);
}

.explore-see-more {
  margin-top: 3rem;
  align-self: center;
}

.whoarewe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 100px;
  z-index: 2;
}

.whoarewe img {
  max-width: 720px;
}

.whoarewe p {
  max-width: 920px;
}

.whoarewe button {
  margin-top: 4rem;
  max-width: 920px;
}

.bg-stripe {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-top: -12rem;
}

.mailinglist {
  position: relative;
  padding: 140px 100px;
  /* background: url("../../images/mailinglist-background.png") no-repeat center
    bottom;
  background-size: cover; */
}

.mailinglist-background {
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mailinglist h2 {
  margin-bottom: 1rem;
}

.mailinglist p {
  margin-bottom: 2rem;
}

.mailinglist-input {
  display: flex;
  margin-bottom: 6rem;
}

.mailinglist-input input[type="email"] {
  width: 100%;
  max-width: 100%;
  padding: 0.75rem 2rem;
  border-width: 1px;
  border-style: solid;
  background: none;
  border-color: var(--color-white);
  color: var(--color-white);
  font-family: var(--typography-lead-font);
  font-size: var(--typography-lead-size);
}

.mailinglist-input input[type="email"]::placeholder {
  color: var(--color-white);
  opacity: 0.5;
}

.mailinglist-input input[type="email"]:focus {
  outline: none;
}
